<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="upper">
        <a href="https://github.com/ngs-doo/TemplaterExamples/tree/master/Advanced/TemplaterServer" target="_blank">Demo source code</a>
      </h2>
    </div>
  </div>
  <script type="application/javascript">
    var pdfConverters = [${pdfConverters}];
  </script>
  <div class="row">
    <div class="col-sm-8">
      <h3>Put your JSON here:</h3>

      <div id="loading-ace" class="text-muted">
        <svg width='16px' height='16px' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
             preserveAspectRatio="xMidYMid" class="uil-ring">
          <rect x="0" y="0" width="100" height="100" fill="none" class="bk"></rect>
          <circle cx="50" cy="50" r="40" stroke-dasharray="160 85" stroke="#777777" fill="none"
                  stroke-width="20">
            <animateTransform attributeName="transform" type="rotate" values="0 50 50;180 50 50;360 50 50;"
                              keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"
                              begin="0s"></animateTransform>
          </circle>
        </svg>
        <span id="loading-text">Loading Ace editor...</span>
        <noscript>editor not available without Javascript</noscript>
      </div>
      <form id="post_action" action="/process" method="post" accept-charset="UTF-8">
        <div class="ace_editor" id="ace-editor" style="display:none"></div>
        <textarea class="text_editor" id="template-editor" name="json">${defaultJson}</textarea>

        <div class="feat-box append-top">
          <div>
            <p>
              <button id="beautify-json" style="display:none" type="button" class="btn btn-primary append-bottom">
                Beautify JSON
              </button>
              <button type="button" class="btn btn-primary btn-switch append-bottom" id="toggle-pdf" style="display:none">
                PDF conversion OFF
              </button>
              <small class="text-muted" id="toggle-helper" style="display:none;">(toggle for docx and pptx)</small>
              <input type="hidden" name="toPdf" value="false"/>
              <input type="hidden" name="pdf" value=""/>
              <input type="hidden" name="template" value="${defaultFilename}"/>
            </p>
          </div>
          <div>
            <p>
              <button id="process-template" type="submit" class="btn btn-success btn-lg">${defaultTemplate}</button>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="sidebar sidebar-box col-sm-4">
      <p>
        <small>Selecting a template will load accompanying JSON.</small>
      </p>
      <h3 class="sidebar-title templates-title">Templates list</h3>

      <div id="trs">
        <ul class="list-unstyled list-template" id="template-list">
          ${templates}
        </ul>
        <form id="download_action" action="${downloadUrl}" method="get" accept-charset="UTF-8">
          <input type="hidden" name="withSchema" value="false"/>
          <button type="button" class="btn btn-danger btn-switch append-bottom" id="toggle-schema" style="display:none; margin-bottom: 4px">
            Templater Editor Schema OFF
          </button>
          <button id="download-template" type="submit" class="btn btn-success btn-lg">
            Download ${defaultFilename}<span class="has-active-template"></span>
            <span class="btn-icon"> <i class="fa fa-download"></i></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
